@import '../../marketplace.css';

.root {
  background-color: var(--matterColorLight);
}

.content {
  padding: 15px;
  @media (--viewportMedium) {
    padding: 24px 65px;
  }
}

.title {
  text-align: center;
}

.sectionTitle {
  font-weight: 800;
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 50px;
  line-height: 1.1;
  @media (--viewportMedium) {
    font-size: 35px;
  }
}

.list {
  text-align: left;
  margin-bottom: 80px;
}

.list li {
  font-size: 22px;
  margin-top: 25px;
}
