@import '../../marketplace.css';

.root {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 99%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 36px;
  @media (--viewportLarge) {
    flex-direction: row;
    align-items: center;
  }
}

.image {
  width: 335px;
  margin: 10px auto 50px;
  box-shadow: 0px 0px 5px #ccc;
  order: 1;
  @media (--viewportMedium) {
    width: 580px;
    order: 2;
  }
}

.content {
  margin: 15px auto;
  order: 2;
  @media (--viewportMedium) {
    margin-right: 95px;
    order: 1;
  }
}

.note {
  color: var(--marketplaceColor);
  line-height: 1.9;
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 18px;
}

.title {
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: var(--marketplaceColor);
  margin: 0;
  @media (--viewportMedium) {
    font-size: 3rem;
  }
}

.button {
  @apply --marketplaceButtonStyles;

  padding: 20px;

  animation-delay: 0.8s;
  width: 72%;

  @media (--viewportMedium) {
    display: block;
    width: 74%;
  }
  @media (--viewportLarge) {
    width: 44%;
  }
}
