@import '../../marketplace.css';

.root {
  background-color: var(--matterColorLight);
}

.content {
  padding: 15px;
  @media (--viewportMedium) {
    padding: 24px 65px;
  }
}

.title {
  color: #000000;
  margin: 0;
  font-size: 43px;
  font-weight: 900;
  letter-spacing: 1.2px;
  margin-bottom: 40px;
  margin-top: 30px;
  transform: translateY(45px);
}

.section {
  display: grid;
  margin-top: 140px;
  grid-gap: 45px;
  grid-template-columns: 1fr;
  margin-bottom: 80px;
  @media (--viewportMedium) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.col h2,
.col p {
  color: #000000;
}

.col h2 {
  font-size: 23px;
  font-weight: 900;
  @media (--viewportMedium) {
    font-size: 18px;
  }
}

.col p {
  font-size: 19px;
  @media (--viewportMedium) {
    font-size: 16px;
    line-height: 1.6;
  }
}
