@import '../../marketplace.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: column;
  margin: 0 8px;

  @media (--viewportMedium) {
    margin: 0;
  }
  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
  }
}

.unlikedButton {
  position: absolute;
  display: inline-block;
  position: relative;
  font-size: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 1;
  transition: ease-in 90ms;
  &::before {
    font-size: 3em;
    color: rgba(0, 0, 0, 0.4);
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-5%, 30%);
  }
  &:hover {
    font-size: 11.5px;
  }
}

.likedButton {
  position: absolute;
  z-index: 1;
  display: inline-block;
  position: relative;
  font-size: 9px;
  cursor: pointer;
  border: none;
  outline: none;
  &::before {
    font-size: 3em;
    color: #000;
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-5%, 30%);
  }
  &::after {
    font-size: 3em;
    color: rgb(209, 9, 9);
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-5%, 30%) scale(1.1);
    transition: transform 0.2s;
  }
}

.threeToTwoWrapper {
  /* Layout */
  display: block;
  width: 100%;
  position: relative;
  transition: ease 0.19s;
  box-shadow: 0 0 7px 0 rgb(0, 0, 0, 0.2);
  &:hover {
    transform: scale(1.02) rotate(0.5deg);
    box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.7);
  }
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
  padding-bottom: 66.6667%; /* 3:2 Aspect Ratio */
  background: var(--matterColorNegative); /* Loading BG color */
  height: 405px;
  @media (min-width: 1500px) {
    height: 600px;
  }
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0;
  height: 405px;
  @media (min-width: 1500px) {
    height: 600px;
  }
}

.info {
  /* Layout */
  display: flex;
  flex-direction: row;
  padding: 16px 0 2px 0;
}

.price {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  margin-right: 18px;
}

.priceValue {
  /* Font */
  @apply --marketplaceH3FontStyles;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.perUnit {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
}

.title {
  /* Font */
  @apply --marketplaceH3FontStyles;
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.authorInfo {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}
