@import '../../marketplace.css';

.pageTitle {
  text-align: center;
}

.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 1380px;
  margin: 24px auto;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: 72px auto;
  }
}

.section,
.lastSection {
  display: flex;
  min-height: 550px;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 90px;
  @media (--viewportMedium) {
    flex-direction: row;
    min-height: 510px;
  }
}

.lastSection {
  min-height: 800px;
  @media (--viewportMedium) {
    min-height: 510px;
  }
}

.title {
  color: #000000;
  margin: 0;
  font-size: 44.5px;
  font-weight: 900;
  letter-spacing: 1.2px;
  margin-bottom: 40px;
}

.videoContainer {
  flex: 1.5;
  position: relative;
  box-shadow: 0px 0px 6px #ccc;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.visionContent {
  flex: 1.5;
}

.visionContent p,
.visionContent li {
  color: #000000;
  font-size: 19px;
  line-height: 1.9;
  @media (--viewportLarge) {
    font-size: 18px;
  }
}

.thumbnail {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  @media (--viewportMedium) {
    position: relative;
    /* margin-left: 20px; */
  }
}

.thumbImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text,
.lastText {
  flex: 0.5;
  @media (--viewportMedium) {
    flex: 0.8;
    padding-right: 30px;
  }
}

.lastText {
  padding-right: 20px;
}

.text p,
.lastText p {
  color: #000000;
  font-size: 20px;
  line-height: 1.9;
  @media (--viewportLarge) {
    font-size: 18px;
  }
}
