.root {
  background-color: var(--matterColorLight);
}

.content {
  padding: 15px;
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  @media (--viewportMedium) {
    padding: 24px 50px;
    flex-direction: row;
  }
}

.title {
  color: #000000;
  font-size: 45px;
  margin-bottom: 28px;
  font-weight: 900;
}

.contactInfo {
  flex: 1;
  padding-right: 30px;
}

.contactInfo p {
  color: #000000;
  line-height: 1.9;
  margin-bottom: 36px;
  font-size: 18px;
}

.socialIcons {
  width: 31%;
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  flex: 1.8;
  @media (--viewportMedium) {
    width: 55%;
  }
}

.nameInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.form input,
.form textarea {
  border: 1.3px solid #ccc;
  border-radius: 2px;
  background-color: #fafafa;
}

.input {
  margin-top: 25px;
  width: 100%;
}

.input p {
  margin: 0;
  font-size: 17px;
}

.errorInput {
  border-bottom: 2px solid red;
  border-radius: 4px;
}

.errorText {
  margin: 0.25em 0 0 0;
  padding: 0;
  color: red;
  font-style: bold;
}

.button {
  outline: none;
  background-color: #000;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border: none;
  color: #fff;
  font-weight: 900;
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
  padding: 20px 30px;
  @media (--viewportMedium) {
    padding: 20px 30px;
  }
}
