@import '../../marketplace.css';

.root {
  background-color: var(--matterColorLight);
}

.content {
  padding: 15px;
  @media (--viewportMedium) {
    padding: 24px 65px;
  }
}

.title {
  text-align: center;
  margin-bottom: 75px;
  @media (--viewportMedium) {
    margin-bottom: 110px;
  }
}

.press {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}
