@import '../../marketplace.css';

.root {
  display: flex;
  justify-content: space-between;
  background-color: var(--matterColorBright);
  position: relative;
  flex: 0.025 0 auto;
}

.longInfo {
  flex-wrap: wrap;
}

.filters {
  display: flex;
  flex-direction: column;
  & > *:not(:last-child) {
    height: auto;
  }
}

.searchResultSummary {
  @apply --marketplaceH4FontStyles;
  line-height: 20px;
  margin-top: 50px;
  margin-bottom: 11px;

  /* parent uses flexbox: this defines minimum width for text "6 results" */
  flex-basis: 55px;
  flex-shrink: 0;
  border-top: 0.45px solid black;
  padding-top: 45px;
  text-align: center;
}

.noSearchResults {
  @apply --marketplaceH4FontStyles;

  /* Reserves 48px of vertical space */
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 12px;

  /* parent uses flexbox: this defines minimum width for translated text "noResults" */
  flex-basis: 100%;
  flex-shrink: 0;
  margin-left: 100px;
}

.loadingResults {
  @apply --marketplaceH4FontStyles;
  line-height: 20px;

  /* Cover parent element's space*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Layout */
  padding: 9px 24px 0 24px;
  margin: 0;
  background-color: var(--matterColorBright);
}

.resultsFound {
  white-space: nowrap;
}

.searchFiltersPanelClosed {
  @apply --marketplaceButtonStylesSecondary;
  @apply --marketplaceSearchFilterLabelFontStyles;

  display: inline-block;
  padding: 9px 16px 10px 16px;
  width: auto;
  height: auto;
  min-height: 0;
  border-radius: 4px;

  &:focus {
    outline: none;
    background-color: var(--matterColorLight);
    border-color: transparent;
    text-decoration: none;
    box-shadow: var(--boxShadowFilterButton);
  }
}

.searchFiltersPanelOpen {
  @apply --marketplaceButtonStyles;
  @apply --marketplaceSearchFilterLabelFontStyles;
  font-weight: var(--fontWeightSemiBold);

  display: inline-block;
  padding: 9px 16px 10px 16px;
  width: auto;
  height: auto;
  min-height: 0;
  border-radius: 4px;
  border: 1px solid var(--marketplaceColor);

  &:hover,
  &:focus {
    border: 1px solid var(--marketplaceColorDark);
  }
}

.heartBtn {
  padding: 15px 16px 16px 16px;
  font-size: 16px;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
  text-align: left;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    border-color: var(--marketplaceColor);
    background-color: #ffffff;
  }
}

.heartActive {
  padding: 15px 16px 16px 16px;
  font-size: 16px;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
  text-align: left;
  cursor: pointer;
  background-color: var(--marketplaceColor);
  color: #ffffff;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
