@import '../../marketplace.css';

.root {
  /* Use CSS variable imported from marketplace.css */
  background-color: var(--matterColorLight);
}

.title {
  text-align: center;
  color: var(--marketplaceColor);
  font-weight: 900;
  word-spacing: 1.3px;
  letter-spacing: 1.3px;
  margin-top: 120px;
  margin-bottom: 65px;
  font-size: 39px;
  line-height: 1.4;
  @media (--viewportMedium) {
    font-size: 43px;
  }
}

.sectionContainer {
  margin: 10px 35px;
  margin-bottom: 160px;
  @media (--viewportMedium) {
    margin: 10px 50px;
    margin-bottom: 160px;
  }
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 5px;
  @media (--viewportLarge) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 45px;
  }
}

.step {
  text-align: center;
  margin-bottom: 30px;
}

.stepText {
  text-align: left;
}

.stepText h2 {
  text-align: center;
  font-size: 37px;
  color: var(--marketplaceColor);
  font-weight: 900;
  margin-bottom: 32px;
  line-height: 1.5;
}

.stepText p,
.stepText li {
  color: var(--marketplaceColor);
  line-height: 1.8;
  font-size: 20px;
  @media (--viewportLarge) {
    font-size: 17px;
  }
}

.centered {
  text-align: center;
}

.stepText ul {
  list-style-type: disc;
  margin-left: 20px;
}

.stepImg {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 35px;
  box-shadow: 0 0 5px #ccc;
}

.img {
  width: 100%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  @media (--viewportLarge) {
    width: 600px;
    margin-top: 40px;
  }
}

.button {
  @apply --marketplaceButtonStyles;
  margin: 0 auto;
  width: 73%;
  padding: 20px;
  justify-self: center;
  animation-delay: 0.8s;
  @media (--viewportMedium) {
    width: 20%;
  }
}

.longBtn {
  @apply --marketplaceButtonStyles;
  margin: 0 auto;
  width: 77%;
  padding: 20px;
  justify-self: center;
  animation-delay: 0.8s;
  @media (--viewportMedium) {
    width: 25%;
  }
}

/* .dateImg {
  max-width: 300px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  max-height: 500px;
}

.paymentImg {
  max-width: 300px;
  max-height: 700px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.acceptReqImg {
  max-width: 500px;
  max-height: 400px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.exchangeImg {
  max-width: 250px;
  max-height: 400px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  @media (--viewportLarge) {
    max-width: 450px;
  }
} */

/* these need to have classes */
ol li,
ul li {
  font-size: 18px;
  margin-bottom: 8px;
}

/* these need to have classes */
.hiwP {
  font-size: 18px !important;
}
